{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
    {cowboy, "2.10.0"},
    {jsx, "3.1.0"},
    {lager, "3.9.2"},
    {epgsql, "4.7.1"}
]}.
{shell, [{apps, [web]}, {config, "config/sys.config"}]}.
{relx, [{release, {game_server, "0.1.0"}, [web, core]},
        {mode, dev}]}.
{profiles, [
    {test, [
        {deps, [{meck, "0.9.2"}]},
        {erl_opts, [debug_info, {parse_transform, lager_transform}]}
    ]}
]}.
